<?xml version="1.0" encoding="utf-8" ?>

<head>
    <title>test</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="TestNG unit test results." />

</head>
<body>

<h1>Test Result</h1>
<table border="1">
    <tr>
        <th>OverView</th>
        <th colspan="7" class="header suite">
            <div >
                <a>run cases sum</a>
            </div>
        </th>
    </tr>
    <tr class="columnHeadings">
        <td> </td>
        <th>all</th>
        <th>excluded</th>
        <th>passed</th>
        <th>faild</th>
        <th>skipped</th>
        <th>duration(S)</th>
        <th>passration</th>
        <th>alltestMethod</th>
        <th>excluedMethod</th>
    </tr>

    <tr>
        <td>TestResult</td>
        <td>$overView.allTestsSize</td>
        <td>$overView.excludeTestsSize</td>
        <td>$overView.passedTestsSize</td>
        <td>$overView.failedTestsSize</td>
        <td>$overView.skippedTestsSize</td>
        <td>$overView.testsTime</td>
        <td>$overView.passPercent</td>
        <td>
            #foreach($p in $overView.allTestsMethod)
                $p<br/>
            #end
        </td>
        <td>
            #foreach($e in $overView.excludeTestsMethod)
                $e<br/>
            #end
        </td>
    </tr>
</table>
<br/><br/>
<table border="1">
    <tr>
        <th>PassTests</th>
        <th colspan="9" class="header suite">
            <div >
                <a>pass test case info</a>
            </div>
        </th>
    </tr>
    <tr class="columnHeadings">
        <td> </td>
        <th>testName</th>
        <th>className</th>
        <th>duration</th>
        <th>params</th>
        <th>description</th>
        <th>output</th>
        <th>dependMethod</th>
        <th>remark1</th>
        <th>remark2</th>
    </tr>

    #foreach( $p in $pass)
    <tr>
        <td>$velocityCount</td>
        <td>${p.testName}
            #if(${p.description})
                (${p.description})
            #end</td>
        <td>$p.className</td>
        <td>$p.duration</td>
        <td>$!p.params</td>
        <td>$!p.description</td>
        <td>
            #foreach($o in $p.output)
                $o<br/>
            #end
        </td>
        <td>$p.dependMethod</td>
        <td>$!p.throwable</td>
        <td>
            #if($p.throwable )
                #foreach($o in $p.stackTrace)
                    $o<br/>
                #end
            #end
        </td>
    #end
</tr>

</table>
<br/>


<br/><br/>

<table border="1">
    <tr>
        <th>FailedTests</th>
        <th colspan="9" class="header suite">
            <div >
                <a>Failed tests info</a>
            </div>
        </th>
    </tr>
    <tr class="columnHeadings">
        <td> </td>
        <th>testName</th>
        <th>className</th>
        <th>duration</th>
        <th>params</th>
        <th>description</th>
        <th>output</th>
        <th>dependMethod</th>
        <th>throwable</th>
        <th>stackTrace</th>
    </tr>

    #foreach( $p in $fail)
    <tr>
        <td>$velocityCount</td>
        <td>$p.testName</td>
        <td>$p.className</td>
        <td>$p.duration</td>
        <td>$!p.params</td>
        <td>$!p.description</td>
        <td>
            #foreach($o in $p.output)
                $o<br/>
            #end
        </td>
        <td>$p.dependMethod</td>
        <td>$p.throwable</td>
        <td>
            #if($p.throwable )
                #foreach($o in $p.stackTrace)
                    $o<br/>
                #end
            #end
        </td>
    #end
</tr>


</table>

